.App {
  width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.calc-display {
  background-color: black;
  height: 100px;
  line-height: 100px;
  color: white;
  text-align: right;
  font-size: 45px;
  grid-column-start: 1;
  grid-column-end: 5;
}

.calc-operator {
  grid-column-start: 4;
  grid-column-end: 5;
}

.calc-numbers {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.clear-div {
  grid-column-start: 1;
  grid-column-end: 4;
}

